.journey{

padding:140px 7%;

background:#020617;

text-align:center;

}

.journey-tag{

display:inline-block;

padding:10px 24px;

border-radius:30px;

background:rgba(255,255,255,.05);

color:#60A5FA;

margin-bottom:25px;

}

.journey h2{

font-size:56px;

margin-bottom:20px;

font-weight:800;

color:white;

}

.journey p{

max-width:850px;

margin:auto;

font-size:20px;

line-height:1.8;

color:#CBD5E1;

margin-bottom:80px;

}

.journey-flow{

display:flex;

justify-content:center;

align-items:center;

gap:25px;

flex-wrap:wrap;

}

.journey-card{

width:240px;

padding:40px 25px;

border-radius:28px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(20px);

transition:.35s;

}

.journey-card:hover{

transform:translateY(-12px);

box-shadow:

0 20px 40px rgba(0,0,0,.4),

0 0 40px rgba(59,130,246,.2);

}

.journey-icon{

width:90px;

height:90px;

margin:auto;

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

border-radius:24px;

background:linear-gradient(

135deg,

#2563EB,

#7C3AED

);

color:white;

margin-bottom:30px;

}

.journey-card h3{

font-size:30px;

margin-bottom:12px;

color:white;

}

.journey-card span{

font-size:18px;

color:#CBD5E1;

}

.journey-arrow{

font-size:42px;

color:#60A5FA;

font-weight:bold;

animation:moveArrow 1.6s infinite;

}

@keyframes moveArrow{

50%{

transform:translateX(10px);

}

}

@media(max-width:1200px){

.journey-flow{

flex-direction:column;

}

.journey-arrow{

transform:rotate(90deg);

animation:none;

}

}

@media(max-width:700px){

.journey{

padding:100px 20px;

}

.journey h2{

font-size:34px;

}

.journey p{

font-size:17px;

margin-bottom:50px;

}

.journey-card{

width:100%;

padding:30px 22px;

}

.journey-icon{

width:72px;

height:72px;

font-size:28px;

}

.journey-card h3{

font-size:24px;

}

.journey-card span{

font-size:16px;

}

}