.landing-footer{

padding:90px 7% 35px;

background:#010817;

border-top:1px solid rgba(255,255,255,.08);

}

/* ========================== */

.footer-top{

display:grid;

grid-template-columns:2fr 1.3fr 1fr;

gap:70px;

padding-bottom:50px;

}

/* ========================== */

.footer-brand h2{

font-size:34px;

margin:20px 0;

color:white;

}

.footer-brand p{

font-size:17px;

line-height:1.9;

color:#94A3B8;

max-width:420px;

}

.footer-logo{

width:70px;

height:70px;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

border-radius:20px;

background:linear-gradient(
135deg,
#2563EB,
#7C3AED
);

color:white;

box-shadow:0 10px 25px rgba(59,130,246,.25);

}

/* ========================== */

.footer-tech h3{

font-size:22px;

margin-bottom:25px;

color:white;

}

.tech-item{

display:flex;

align-items:center;

gap:14px;

padding:14px 18px;

margin-bottom:15px;

border-radius:16px;

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.06);

transition:.3s;

backdrop-filter:blur(8px);

}

.tech-item:hover{

transform:translateX(8px);

background:rgba(255,255,255,.08);

border-color:#3B82F6;

}

.tech-item span{

font-size:24px;

}

.tech-item p{

font-size:17px;

color:#CBD5E1;

}

/* ========================== */

.footer-contact h3{

font-size:22px;

margin-bottom:25px;

color:white;

}

.footer-contact p{

display:flex;

align-items:center;

gap:12px;

font-size:17px;

color:#CBD5E1;

margin-bottom:30px;

}

.footer-social{

display:flex;

gap:18px;

}

.footer-social a{

width:52px;

height:52px;

display:flex;

justify-content:center;

align-items:center;

border-radius:50%;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

font-size:21px;

color:white;

transition:.3s;

}

.footer-social a:hover{

transform:translateY(-6px);

background:linear-gradient(
135deg,
#2563EB,
#7C3AED
);

}

/* ========================== */

.footer-bottom{

margin-top:30px;

padding-top:30px;

border-top:1px solid rgba(255,255,255,.08);

text-align:center;

}

.footer-bottom p{

font-size:15px;

color:#94A3B8;

letter-spacing:.5px;

}

/* ========================== */

@media(max-width:1000px){

.footer-top{

grid-template-columns:1fr;

gap:50px;

}

.footer-brand{

text-align:center;

}

.footer-logo{

margin:auto;

}

.footer-brand p{

margin:auto;

}

.footer-tech{

max-width:420px;

margin:auto;

width:100%;

}

.footer-contact{

text-align:center;

}

.footer-contact p{

justify-content:center;

}

.footer-social{

justify-content:center;

}

}