.landing-navbar{

position:fixed;

top:25px;
left:50%;

transform:translateX(-50%);

width:94%;
max-width:1500px;

height:82px;

padding:0 42px;

display:flex;
justify-content:space-between;
align-items:center;

background:rgba(8,15,35,.62);

backdrop-filter:blur(35px);

-webkit-backdrop-filter:blur(35px);

border:1px solid rgba(255,255,255,.08);

border-radius:24px;

box-shadow:
0 15px 50px rgba(0,0,0,.45),
0 0 50px rgba(59,130,246,.08);

z-index:9999;

transition:.4s;

}

.landing-navbar:hover{

box-shadow:
0 20px 60px rgba(0,0,0,.55),
0 0 70px rgba(99,102,241,.18);

}

.landing-logo{

display:flex;

align-items:center;

gap:14px;

}

.landing-logo-icon{

font-size:28px;

color:#3B82F6;

}

.landing-logo h2{

font-size:34px;

font-weight:700;

letter-spacing:.5px;

background:linear-gradient(
90deg,
#60A5FA,
#818CF8,
#A855F7
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.landing-nav-links{

display:flex;

gap:45px;

}

.landing-nav-links a{

color:white;

font-size:17px;

font-weight:500;

transition:.35s;

position:relative;

}

.landing-nav-links a::after{

content:"";

position:absolute;

left:0;
bottom:-8px;

width:0;

height:2px;

background:#60A5FA;

transition:.3s;

}

.landing-nav-links a:hover{

color:#60A5FA;

}

.landing-nav-links a:hover::after{

width:100%;

}

.landing-nav-buttons{

display:flex;

gap:18px;

}

.landing-login-btn{

width:120px;

height:48px;

border-radius:14px;

background:rgba(255,255,255,.04);

border:1px solid rgba(96,165,250,.6);

color:white;

font-size:16px;

transition:.35s;

}

.landing-login-btn:hover{

background:#2563EB;

transform:translateY(-2px);

}

.landing-register-btn{

width:135px;

height:48px;

border:none;

border-radius:14px;

font-size:16px;

font-weight:600;

color:white;

background:linear-gradient(
135deg,
#2563EB,
#7C3AED
);

transition:.35s;

box-shadow:0 10px 30px rgba(99,102,241,.35);

}

.landing-register-btn:hover{

transform:translateY(-4px);

box-shadow:0 18px 40px rgba(99,102,241,.55);

}

@media(max-width:1050px){

.landing-nav-links{

display:none;

}

}

@media(max-width:700px){

.landing-navbar{

padding:0 20px;

}

.landing-logo h2{

font-size:24px;

}

.landing-login-btn,
.landing-register-btn{

width:95px;

font-size:14px;

}

}