.landing-preview{

padding:140px 7%;

display:grid;

grid-template-columns:1fr 1fr;

gap:90px;

align-items:center;

background:#020617;

}

.landing-preview-tag{

display:inline-block;

padding:10px 22px;

border-radius:30px;

background:rgba(255,255,255,.05);

color:#60A5FA;

margin-bottom:25px;

}

.landing-preview-left h2{

font-size:58px;

line-height:1.15;

margin-bottom:30px;

font-weight:800;

color:white;

}

.landing-preview-left h2 span{

background:linear-gradient(
90deg,
#3B82F6,
#8B5CF6
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.landing-preview-left p{

font-size:20px;

line-height:1.9;

color:#CBD5E1;

margin-bottom:40px;

}

.landing-preview-left button{

width:220px;

height:60px;

display:flex;

align-items:center;

justify-content:center;

gap:12px;

border:none;

border-radius:16px;

font-size:18px;

font-weight:600;

color:white;

background:linear-gradient(
135deg,
#2563EB,
#7C3AED
);

transition:.35s;

}

.landing-preview-left button:hover{

transform:translateY(-5px);

}

.landing-preview-card{

padding:35px;

border-radius:28px;

background:rgba(255,255,255,.06);

backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.08);

box-shadow:0 20px 50px rgba(0,0,0,.4);

}

.landing-preview-top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.landing-preview-top h3{

font-size:30px;

font-weight:700;

color:white;

}

.landing-preview-top span{

font-size:20px;

font-weight:600;

color:#E2E8F0;

}

.landing-preview-storage{

height:14px;

background:rgba(255,255,255,.08);

border-radius:30px;

overflow:hidden;

margin-bottom:18px;

}

.landing-preview-fill{

width:69%;

height:100%;

border-radius:30px;

background:linear-gradient(
90deg,
#3B82F6,
#8B5CF6
);

box-shadow:0 0 20px rgba(99,102,241,.5);

}

.landing-preview-card p{

margin-bottom:30px;

color:#CBD5E1;

font-size:19px;

font-weight:500;

}

.landing-preview-files{

display:flex;

flex-direction:column;

gap:18px;

}

.landing-preview-file{

display:flex;

align-items:center;

gap:15px;

padding:18px;

border-radius:16px;

background:rgba(255,255,255,.05);

transition:.35s;

font-size:18px;

color:white;

}

.landing-preview-file:hover{

transform:translateX(10px);

background:rgba(255,255,255,.10);

}

@media(max-width:1100px){

.landing-preview{

grid-template-columns:1fr;

gap:50px;

}

}

@media(max-width:768px){

.landing-preview{

padding:100px 20px;

}

.landing-preview-left h2{

font-size:36px;

}

.landing-preview-left p{

font-size:17px;

margin-bottom:28px;

}

.landing-preview-left button{

width:100%;

max-width:260px;

height:54px;

font-size:16px;

}

.landing-preview-card{

padding:24px;

}

.landing-preview-top h3{

font-size:24px;

}

.landing-preview-top span{

font-size:16px;

}

.landing-preview-file{

font-size:15px;

}

}