.about{
    position:relative;
    overflow:hidden;
    padding:120px 8%;
    background:#08111f;
    scroll-margin-top:10px;
}

.about-container{
    max-width:1300px;
    margin:auto;
    position:relative;
    z-index:2;
}

.about-header{
    text-align:center;
}

.about-tag{
    color:#4f8cff;
    letter-spacing:3px;
    font-weight:600;
}

.about-header h2{
    color:white;
    font-size:56px;
    margin:20px 0;
}

.about-header p{
    color:#9cb3cf;
    max-width:850px;
    margin:auto;
    line-height:1.8;
    font-size:18px;
}

/* Floating Background */

.blob{
    position:absolute;
    width:320px;
    height:320px;
    border-radius:50%;
    filter:blur(120px);
    animation:float 14s ease-in-out infinite;
}

.blob1{
    width:260px;
    height:260px;
    top:120px;
    left:-180px;
    opacity:.35;
}

.blob2{
    width:260px;
    height:260px;
    bottom:40px;
    right:-180px;
    opacity:.35;
}

@keyframes float{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(-50px);
}

}

/* Timeline */

.timeline{
    position:relative;
    display:flex;
    justify-content:space-between;
    margin-top:90px;
}

.timeline-line{
    position:absolute;
    width:100%;
    height:3px;
    background:rgba(255,255,255,.15);
    top:35px;
    left:0;
}

.timeline-item{
    width:18%;
    text-align:center;
    position:relative;
}

.timeline-circle{
    width:70px;
    height:70px;
    margin:auto;
    border-radius:50%;
    background:#111d31;
    border:2px solid #4f8cff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    color:#6ea3ff;
    transition:.4s;
    position:relative;
    z-index:2;
}

.timeline-circle:hover{
    transform:translateY(-10px) scale(1.1);
    box-shadow:0 0 30px #4f8cff;
}

.timeline-item h4{
    color:white;
    margin-top:20px;
    font-size:22px;
}

.timeline-item p{
    color:#9cb3cf;
    margin-top:12px;
    line-height:1.6;
    font-size:15px;
}

/* Mobile */

@media(max-width:900px){

.timeline{
flex-direction:column;
align-items:center;
gap:50px;
}

.timeline-line{
display:none;
}

.timeline-item{
width:100%;
}

.about-header h2{
font-size:40px;
}

}