.hero {
  min-height: calc(100vh - 100px);
  width: 100%;
  padding: 80px 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  background: radial-gradient(circle at top, #1e3a8a 0%, #0f172a 45%, #020617 100%);
}

.hero-left {
  flex: 1;
}

.hero-left h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 25px;
  font-weight: 700;
}

.hero-left p {
  font-size: 1.15rem;
  color: #cbd5e1;
  line-height: 1.8;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.primary-btn {
  padding: 15px 35px;
  border-radius: 12px;
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.primary-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(59, 130, 246, 0.4);
}

.secondary-btn {
  padding: 15px 35px;
  border: 2px solid #3b82f6;
  border-radius: 12px;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.secondary-btn:hover {
  background: #3b82f6;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.dashboard-card {
  width: 420px;
  padding: 30px;

  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.12);

  border-radius: 24px;

  box-shadow: 0 20px 40px rgba(0,0,0,.3);
}

.dashboard-card h2 {
  margin-bottom: 25px;
}

.storage-bar {
  height: 12px;
  background: rgba(255,255,255,.1);
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 15px;
}

.storage-fill {
  width: 42%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(90deg,#3b82f6,#8b5cf6);
}

.dashboard-card p {
  color: #cbd5e1;
  margin-bottom: 25px;
}

.fake-files {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.file {
  background: rgba(255,255,255,.06);
  padding: 14px;
  border-radius: 12px;
  transition: .3s;
}

.file:hover {
  transform: translateX(8px);
  background: rgba(255,255,255,.1);
}

@media (max-width:1000px){

.hero{

flex-direction:column;
text-align:center;

}

.hero-buttons{

justify-content:center;

}

.hero-left h1{

font-size:3rem;

}

.dashboard-card{

width:100%;

}

}

@media(max-width:600px){

.hero-left h1{

font-size:2.3rem;

}

.hero-buttons{

flex-direction:column;

}

.primary-btn,
.secondary-btn{

width:220px;

}

.hero {

  scroll-margin-top: 120px;

}
.hero {
  scroll-margin-top: 100px;
}

}